
@use "../../../../styles/variables" as *

.suggestion_item
  list-style: none
  padding: 0.25rem 0.5rem
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  padding-left: 0
  line-height: 3rem
  min-height: 3rem
  widows: 100%

  &:hover
    background: $primary-gray

  &:last-child
    border-bottom: none
    padding-bottom: 1rem
    border-bottom-left-radius: 1rem
    border-bottom-right-radius: 1rem
    
  & span
    padding: 0.75em 0.5em 0.75em 1.5em
