@use "../../styles/variables" as *

.header
  max-height: 5.5rem
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  background: white
  @include mq("small")
    max-width: 128px 
    border-top-right-radius: 1rem
    border-bottom-right-radius: 1rem
    display: inline-block
    max-height: initial
    position: fixed
    height: 100vh
  
  &_logo_mobile
    @include mq("small")
      display: none

  &_logo_desktop
    display: none
    @include mq("small")
      display: block
      img
        padding: 1em


  &_navbar
    background: inherit
    max-width: 100%
    height: 100%

    &_itemlist
      margin: 1rem

      @include mq("small") 
        padding: 0
        display: flex
        flex-direction: column
        gap: 1.5rem

    &_list_createBtn
      display: inline-block
      background: $primary-blue
      text-decoration: none
      color: white
      border-radius: 0.95rem
      border: none
      padding: 1em 2em
      font-size: 0.8rem
      align-self: flex-end
      margin: 2rem
      max-width: 100%
      &:hover
        background: $primary-black

      @include mq("small") 
        flex-direction: column
        display: flex
        justify-content: center
        align-items: center
        padding: 1em 3em
        gap: 5px
        align-self: center
        margin: 1rem auto
        margin-top: 3rem

      img 
        height: 2rem
        width: 2rem
      img, span
        vertical-align: middle

     