@use "./variables" as *;

* 
  margin: 0
  font-family: $typo
  box-sizing: border-box
  
body
  position: relative
  margin: 0
  scrollbar-width: none
  font-size: 16px
 // body small 14px

#root 
  // display: flex
  // flex-grow: 1
  min-height: 100vh

h1
    font-size: 1.25rem //20px based on body declared size (16)
h2 
    font-size: 1.125rem //18px based on body declared size (16)
h3 
    font-size: 0.875rem //14px based on body declared size (16)

.subtitle 
    font-size: 0.75rem //12px based on body declared size (16)
.slogan
     font-size: 0.652rem //10px based on boddy delared size (16) 

button 
    font-size: 1.125rem //18px based on body declared size (16)
