.container
  position: relative
  
.dataList
  display: flex
  align-items: center
  justify-content: space-between
  border-radius: 2rem
  border: 1px solid #bfbfbf

  &.open 
    border-radius: 1rem
    border-bottom: none
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

  input
    border: none
    border-bottom-left-radius: 2rem
    border-top-left-radius: 2rem
    padding: 0.75rem 0.5rem 0.75rem 1.5rem
    width: 100%
    font-size: 1rem

    &:focus-visible
      outline: none


  button
    padding: 0.25rem 1rem
    border-bottom-right-radius: 2rem
    border-top-right-radius: 2rem

  &_list 
    display: none

  &_list_open 
    display: inherit
    padding: 0
    border: 1px solid #bfbfbf
    border-bottom-left-radius: 1rem
    border-bottom-right-radius: 1rem
    border-top: none
    position: absolute
    width: 100%
    top: 2.75rem
    background: white

    
    ul
      padding: 0

.open, input.open
  border-bottom: none
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0